* {
	border: 1px solid black;
}

header {
	color: MediumAquamarine;
	font-family: "Verdana";
	font-size: 14px;
	font-weight: bold;
	display: flex;
	flex-grow: 1;
	width: 100%;
}

.flex-left {
	justify-content: flex-start;
}

.flex-right {
	justify-content: flex-end;
}