* {
	/*border: 1px solid black;*/
}

header {
	color: MediumAquamarine;
	font-family: "Verdana";
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	width: 100%;
}

.flex-left {
	justify-content: flex-start;
}

.flex-right {
	justify-content: flex-end;
}