* {
	border: 1px solid black;
}

header {
	color: MediumAquamarine;
	font-family: "Verdana";
	font-size: 14px;
	font-weight: bold;
	display: inline-flex;
	flex-grow: 2;
}

/*.flex-left {
	justify-content: flex-start;
}

.flex-right {
	justify-content: flex-end;
}*/